<div class="container">
    <div class="row d-flex">
        <div class="col-2">
            <h5>Código do produto</h5>
            <p>
                {{produto.cod}}
            </p>
        </div>
        <div class="col-2">
            <h5>Descrição do produto</h5>
            <p>
                {{produto.desc}}
            </p>
        </div>
        <div class="col-2">
            <h5>Reg Anvisa do produto</h5>
            <p>
                {{produto.regAnvisa}}
            </p>
        </div>
        <div class="col-2">
            <h5>não deu</h5>
            <p>
                {{produto.controlado}}
            </p>
        </div>
        <div class="col-2">
            <h5>Código do Grupo</h5>
            <p>
                {{produto.codGrupo}}
            </p>
        </div>
    </div>
</div>